.shadow {
  -fx-effect: dropshadow(three-pass-box, rgba(0, 0, 0, 0.5), 6, 0, 0, 0);
}
.manage_cars_container {
  -fx-background-color: #eee;
}

#car_information {
  -fx-font-size: 1.3em;
}
.car_input_fields_container FontAwesomeIconView {
  -fx-fill: #4d869c;
}
.car_input_fields_container {
  -fx-background-color: #fff;
  -fx-background-radius: 0 0 8px 8px;
  -fx-font-size: 1em;
  -fx-font-weight: bold;
}
.car_input_fields_container TextField {
  -fx-border-color: #4d869c;
  -fx-border-radius: 5px;
  -fx-background-radius: 5px;
  -fx-font-weight: normal;
  -fx-pref-height: 25;
  -fx-font-size: 1.2em;
  -fx-background-color: #fff;
}
.btns {
  -fx-spacing: 20;
  -fx-font-size: 1.3em;
  -fx-font-weight: bold;
  -fx-cursor: hand;
}
#cancel_btn {
  -fx-background-color: rgb(223, 40, 40);
  -fx-text-fill: #fff;
}
#save_btn {
  -fx-background-color: #1d98c8(223, 40, 40);
  -fx-text-fill: #fff;
}
